@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;



.video {

    @include padding (0,1,0,1);

    @include tablet {
        @include padding (0,2,0,2);
        width: 50%
    }

    @include desktop {
        width: 32%;
        @include padding (0,0,0,1.5);
        border-left: 1px solid silver;
    }
    

    &__header {
        @include mobile-sectionheader;
        color: silver;
        text-transform: uppercase;

        @include tablet {
            @include sectionheader;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
    }

    &__link {
        text-decoration: none;
    }

    &__img {
        aspect-ratio: 16 / 9;
        max-width: 100%;
        width: 35%;
        
    }

    &__images {
        border-radius: 4px;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
    }

    &__title {
        margin: 0;
        @include mobile-sectionheader;
        color: $primary-color;

        @include tablet {
            @include subheader;
            width: 90%;
        }
    }

    &__channel {
        margin: 0;
        @include mobile-bodyfont;
        color: $primary-color;

        @include tablet {
            @include bodyfont;
        }
    }

}