@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.comment {
    &__btn {
        display: flex;
        justify-content: flex-end;

        @include tablet {
            width: 25%
        }
    }

    &__button {
    @include padding (0.5,0.5,0.5,0.5);
    @include mobile-sectionheader;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 2.5rem;
    background-color: $secondary-color;
    background-image: url(../../assets/Icons/add_comment.svg);
    background-repeat: no-repeat;
    background-position: center left 1rem;
    background-size: 1.175rem;
  
        &:hover {
          background-color: #0065AD;
        }

        @include tablet {

            @include sectionheader;
        }
    }
}