@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

* {
  box-sizing: border-box;
}

body {
  font-family: AvenirNext LT Pro;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.uploadPage {

  &__header {
    border-bottom: 1px solid silver;
  }  
}
