@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;


.header {

    &__upload {
        
        order: 2;
        flex: 1 1 100%;

        @include tablet {
            order: 1;
            flex: 1 1 25%;
        }

    }
    

    &__button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        border-radius: 0.25rem;
        @include mobile-subheader;
        text-transform: uppercase;
        color: white;
        @include padding (0.875,0.5,0.625,0.5);
        background-color: $secondary-color;
        background-image: url(../../assets/Icons/upload.svg);
        background-repeat: no-repeat;
        background-position: center left 0.5rem;
        text-decoration: none;

        @include tablet {
            @include padding (0.875,0.5,0.5,0.5);
        }
    
    }

}

