@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.header {

    &__avatar {
        order: 1;

        @include tablet {
            order: 2;
            padding-left: 0.75rem;
        }
    }
}
.avatar {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    object-fit: cover;
    object-position: left;
    background-color: $mercury;
    

    @include tablet {
        width: 2.5rem;
        height: 2.5rem;
    } 

}