@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.comment {

    &__form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid silver;
        padding-bottom: 1rem;
        gap: 1rem;
        
        @include tablet {
            gap: 1.25rem;
        }

        @include desktop {
            @include padding (1,1.75,1,1);
            gap: 2rem;
        }
    }

    &__header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-top: 1.25rem;
        width: 2.75rem;  
    }

    &__avatar {
        padding-left: 0;
    }

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

    }

    &__label {
        @include mobile-sectionheader;
        color: silver;
        text-transform: uppercase;
    }

    &__wrapper-2 {

        @include tablet {
            display: flex;
            width: 100%;
            justify-content: space-between;
            height: 55%;
        }
    }

    &__input {
        
        @include padding (0.65,0.65,3,0.65);
        border: 1.5px solid rgba(192, 192, 192, 0.5);
        border-radius: 0.25rem;
        @include mobile-subheader;
        font-family: AvenirNext LT Pro;
        font-weight: 400;
        margin-bottom: 1rem;
        width: 100%;
            
        @include tablet {
            @include padding (0.5,0,0,0);
            @include bodyfont;
            text-indent: 1rem;
            width: 71.25%;
            margin: 0;
        }

        
    }    

    &__input::placeholder {
        color: $primary-color;
        width: 100%;
        height: auto;
        font-family: AvenirNext LT Pro;
        @include mobile-subheader;
        font-weight: 400;

        @include tablet {
            @include bodyfont;
        }
        
    }

    &__input::active {
        border: 2px solid $secondary-color;
    }

    
}


