@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;




.Header {
    
    &__Nav {
        @include padding (0,1,1,1);
    }
    
    &__Wrapper {
        display: flex;
        gap: 1rem;
        padding-bottom: 1rem;
    }
}