@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;



.player{

    padding-bottom: 1rem;


    &__video {
        width: 100%;
        

        @include tablet {
            max-width: 100%;
            background-color: black;
            aspect-ratio: 16 / 9 ;
            max-height: 48vh;
        }

        @include desktop {
            max-height: 59vh;
        }
    }
    

    

    

    
}