@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;



.video{


    &__player {
        width: 100%;
        padding-bottom: 1rem;
        

        @include tablet {
            max-width: 100%;
            background-color: black;
            aspect-ratio: 16 / 9 ;
            max-height: 48vh;
            margin-bottom: 1rem; 
            padding-bottom: 0;
        }

        @include desktop {
            max-height: 59vh;
        }
    }
    

    

    

    
}